@if (isSubmitting) {
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
} @if (objectData$ | async; as objectData) {
<section class="carousel-section">
  <div class="carousel-container">
    <div #myCarousel>
      @for (image of objectData.image; track image.id) {
      <ng-container>
        <div
          class="f-carousel__slide"
          data-fancybox="gallery"
          [attr.data-thumb-src]="image.small"
          [attr.data-src]="image.full"
        >
          <img
            [src]="image.full"
            class="image"
            width="640"
            height="480"
            alt="Carousel image"
          />
        </div>
      </ng-container>
      }
    </div>
  </div>

  @if (selectedCategory === Offer.CARS) {
  <div class="offer-title-container">
    <div class="offer-title">
      <h1 class="font-weight remove-bottom-margin">{{ objectData.name }}</h1>
      <span>{{ objectData.model }} {{ objectData.type }}</span> <br />
      <small>{{ objectData.vin }}</small>
    </div>
    <div class="offer-icons">
      <div class="icon-design">
        <mat-icon>edit_calendar</mat-icon> {{ objectData.productionYear }}
      </div>
      <div class="icon-design">
        <mat-icon svgIcon="road"></mat-icon>
        {{ objectData.mileage | number : "1.0-0" }} km
      </div>
      <div class="icon-design">
        <mat-icon svgIcon="engine"></mat-icon> {{ objectData.power }} kW
      </div>
      <div class="icon-design">
        <mat-icon [svgIcon]="fuelIcon"></mat-icon> {{ objectData.engine }}
      </div>
      <div class="icon-design">
        <mat-icon [svgIcon]="transmissionIcon"></mat-icon>
        {{ objectData.transmission }}
      </div>
    </div>
    <div class="offer-title-buttons">
      <button mat-stroked-button class="button-color">
        info&commat;visdom.eu
      </button>
      <button mat-stroked-button class="button-color">099 7790 857</button>
      <div class="offer-price">
        <div>
          <small>Cijena vozila</small>
          <span>{{
            objectData.price | currency : "EUR" : "symbol" : "1.0-0"
          }}</span>
        </div>
      </div>
      <button mat-raised-button (click)="scrollToCreateOffer()" class="offer-button">
        NAPRAVITE SVOJU PONUDU
      </button>
    </div>
  </div>
  } @if (selectedCategory === Offer.BUILDINGS) {
    <div class="offer-title-container">
      <div class="offer-title">
        <h1 class="font-weight remove-bottom-margin">{{ objectData.title }}</h1>
      </div>
      <div class="offer-title-buttons">
        <button mat-stroked-button class="button-color">
          info&commat;visdom.eu
        </button>
        <button mat-stroked-button class="button-color">099 7790 857</button>
        <div class="offer-price">
          <div>
            <small>Cijena vozila</small>
            <span>{{
              objectData.price | currency : "EUR" : "symbol" : "1.0-0"
            }}</span>
          </div>
        </div>
        <button mat-raised-button (click)="scrollToCreateOffer()" class="offer-button">
          NAPRAVITE SVOJU PONUDU
        </button>
      </div>
    </div>
  }
</section>

<section class="tab-section">
  <mat-tab-group animationDuration="300ms">
    <mat-tab label="OSNOVNO">
      <div class="details-grid">
        @if (selectedCategory === Offer.CARS) { @for (item of carDetailsItems;
        track $index) {
        <div class="details-item" *ngIf="item.value">
          <mat-icon svgIcon="{{ item.icon }}"></mat-icon>
          <div>
            <span class="details-item-title">{{ item.title }}</span>
            <span class="details-item-value">{{ item.value }}</span>
          </div>
        </div>
        } }
      </div>
      <div class="basic-info-container">
        <h3 class="font-weight remove-bottom-margin">OSTALE INFORMACIJE</h3>
        <mat-list>
          @for (item of carOtherDetailsItems; track $index) {
          <mat-list-item>
            <span matListItemLine class="font-weight">{{ item.value }}</span>
            <span matListItemTitle class="regular-text">{{ item.title }}</span>
          </mat-list-item>
          }
        </mat-list>
      </div>
    </mat-tab>
    <mat-tab label="DETALJI">
      <p class="description">{{ objectData.description }}</p>
    </mat-tab>
  </mat-tab-group>
</section>

<section #createOfferSection class="create-offer-section">
  <form [formGroup]="createOfferForm" (ngSubmit)="onSubmit()">
    <h1 class="title">NAPRAVITE SVOJU PONUDU</h1>

    <!-- SLIKE -->
    <mat-label class="label-style">Slike</mat-label>
    <div class="file-button-container">
      <input
        type="file"
        #fileInput
        (change)="onFileSelect($event)"
        hidden
        multiple
        accept="image/*"
      />
      <button
        type="button"
        class="add-image-button"
        mat-raised-button
        (click)="fileInput.click()"
        [disableRipple]="true"
      >
        <span class="plus-icon">+</span>
      </button>
      @if (images.length > 0) {
      <button mat-button (click)="onClearImages()">Obrišite sve slike</button>
      }
    </div>

    @if (images.length > 0) {
    <div
      cdkDropList
      cdkDropListOrientation="mixed"
      class="image-list"
      (cdkDropListDropped)="onImageDrop($event)"
    >
      @for (image of images; track image) {
      <div class="image-icon-container">
        @if(!isDragging) {
        <mat-icon (click)="onDeleteImage(image)">remove</mat-icon>
        }
        <img
          [src]="image"
          alt="Image Preview"
          class="image-box"
          cdkDrag
          (cdkDragStarted)="onDragStarted()"
          (cdkDragEnded)="onDragEnded()"
        />
      </div>
      }
    </div>
    }

    <!-- IME -->
    <mat-form-field>
      <mat-label>Vaše ime</mat-label>
      <input matInput type="text" formControlName="name" />
      <mat-error>
        @if (createOfferForm.get('name')?.invalid &&
        (createOfferForm.get('name')?.dirty ||
        createOfferForm.get('name')?.touched)) { @if
        (createOfferForm.get('name')?.hasError('required')) { Ime je obavezno. }
        }
      </mat-error>
    </mat-form-field>

    <!-- EMAIL -->
    <mat-form-field>
      <mat-label>Vaš e-mail</mat-label>
      <input matInput type="email" formControlName="email" />
      <mat-error>
        @if (createOfferForm.get('email')?.invalid &&
        (createOfferForm.get('email')?.dirty ||
        createOfferForm.get('email')?.touched)) { @if
        (createOfferForm.get('email')?.hasError('required')) { E-mail je
        obavezan. } @else if (createOfferForm.get('email')?.hasError('email')) {
        Unesite ispravnu e-mail adresu. } }
      </mat-error>
    </mat-form-field>

    <!-- TELEFON -->
    <mat-form-field>
      <mat-label>Vaš broj telefona</mat-label>
      <input matInput type="tel" formControlName="phone" />
      <mat-error>
        @if (createOfferForm.get('phone')?.invalid &&
        (createOfferForm.get('phone')?.dirty ||
        createOfferForm.get('phone')?.touched)) { @if
        (createOfferForm.get('phone')?.hasError('required')) { Broj telefona je
        obavezan. } @else if (createOfferForm.get('phone')?.hasError('pattern'))
        { Unesite ispravan broj telefona (samo brojevi, npr. +385123456789). } }
      </mat-error>
    </mat-form-field>

    <!-- LOKACIJA -->
    <mat-form-field>
      <mat-label>Gdje se nalazite</mat-label>
      <input matInput type="text" formControlName="location" />
    </mat-form-field>

    <!-- OPIS -->
    <mat-form-field class="text-area-field">
      <mat-label>Opis</mat-label>
      <textarea
        matInput
        formControlName="description"
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="10"
      ></textarea>
    </mat-form-field>

    <button
      mat-raised-button
      type="submit"
      [disabled]="createOfferForm.invalid || isSubmitting"
    >
      POŠALJITE
    </button>
  </form>
</section>
} @if (userOffersData$ | async; as userOffersData) {
<h1 class="title">Ponude klijenata</h1>
<section class="user-offers-section">
  @for (offer of userOffersData; track $index) {
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        @for (image of offer.image; track $index) {
        <div
          class="f-carousel__slide"
          [attr.data-fancybox]="offer.email"
          [attr.data-thumb-src]="image.small"
          [attr.data-src]="image.full"
        >
          <img
            [src]="image.small"
            class="offer-image"
            width="80"
            height="80"
            alt="Carousel image"
          />
        </div>
        }
      </mat-card-title>
      <mat-card-subtitle>{{ offer.description }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <span class="regular-text">
        {{ offer.name }} | {{ offer.email }} |
        {{ offer.phone }}
      </span>
    </mat-card-content>
    <mat-card-footer class="example-card-footer">
      <mat-card-actions>
        <button mat-button (click)="deleteUserOffer(offer)" class="remove-user-offer">
          OBRIŠITE PONUDU
        </button>
      </mat-card-actions>
    </mat-card-footer>
  </mat-card>
  }
</section>
}
<div class="delete-button">
  <button mat-button (click)="deleteOffer()">OBRIŠITE OGLAS</button>
</div>
