@use '../../../theme/colors.scss' as color;
@use '../../../theme/carousel.scss';
@use '../../../theme/material/mat-card.scss';
@use '../../../theme/material/mat-tab-group.scss';

section {
    color: color.$text !important;
}

.title {
    color: color.$primary !important;
    font-weight: 700 !important;
    margin-bottom: 0.5rem;
    margin-bottom: 1rem;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
}

.remove-user-offer {
    font-size: smaller;
}

.regular-text {
    color: color.$text !important;
}

.remove-bottom-margin {
    margin-bottom: 0 !important;
}

.font-weight {
    font-weight: 600 !important;
}

.button-color {
    background-color: color.$background !important;
}

.carousel-section {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    box-shadow: color.$bottom-shadow;

    .carousel-container {
        width: 800px;

        .f-carousel__slide {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .image {
            width: 100%;
            height: 480px;
            object-fit: contain;
        }
    }

    .offer-title-container {
        width: 600px;
        text-align: start;
        padding: 0 1rem;

        .offer-title {
            color: color.$text;

            span {
                font-size: medium;
                font-style: italic;
                font-weight: 500;
            }
        }

        .offer-icons {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            margin: 2rem 0;
            gap: 0.5rem 0.25rem;

            .icon-design {
                display: flex;
                align-items: center;
                gap: 0.25rem;
                font-weight: 600;
                padding: 0.35rem 1rem;
                border-radius: 0px;
                box-shadow: color.$chip-shadow;
                font-size: small;
                background-color: color.$white;
            }
        }

        .offer-price {
            display: flex;
            justify-content: flex-end;

            &>div {
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 0.5rem;
                border-radius: 0px;
                padding: 1rem;
                padding-top: 0.5rem;

                span {
                    font-size: xx-large;
                    font-weight: bolder;
                    color: #F75B39;
                }

                small {
                    font-style: italic;
                    font-weight: 500;
                }
            }
        }

        .offer-title-buttons {
            display: flex;
            position: sticky;
            top: 1rem;
            border-radius: 0px;
            flex-direction: column;
            gap: 0.5rem;
            flex-wrap: wrap;
            padding: 1rem;
            width: fit-content;
            margin-left: auto;
        }

        .offer-title-buttons>button {
            font-size: large;
            font-style: italic;
        }
    }
}

.tab-section {
    background-color: color.$background-dark;

    .description {
        padding: 1rem;
    }

    mat-tab-group {
        padding: 2rem 0;
        width: 1000px;
        margin: 0 auto;
    }

    .details-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 1rem;
    }

    .details-item {
        width: calc(33% - 3rem);
        display: flex;
        align-items: center;
        padding: 1rem;
        gap: 1rem 1.5rem;
        border-radius: 0px;
        box-shadow: color.$chip-shadow;
        background-color: color.$white;
        border: solid 1px color.$scrollbar-track;

        mat-icon {
            width: 36px;
            height: 36px;
        }

        div {
            display: flex;
            flex-direction: column;
            font-weight: 600;

            .details-item-title {
                font-size: smaller;
            }

            .details-item-value {
                font-size: medium;
            }
        }
    }

    .basic-info-container {
        padding: 1rem;

        mat-list {
            display: flex;
            flex-wrap: wrap;

            mat-list-item {
                color: color.$text !important;
                width: calc(33%);
                height: auto;

                span {
                    white-space: normal;
                }
            }
        }
    }
}

.user-offers-section {
    width: 500px;
    max-height: 700px;
    overflow: auto;
    margin: 0 auto;

    mat-card {
        margin: 1rem;

        mat-card-footer {
            display: flex;
            justify-content: end;
        }

        mat-card-title,
        mat-card-subtitle {
            color: color.$text !important;
            font-weight: 600 !important;
        }

        mat-card-title {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            max-height: 300px;
            overflow: auto;

            .offer-image {
                border-radius: 0px;
                object-fit: cover;
                cursor: pointer;
            }
        }
    }
}

.button-container {
    display: flex;
    justify-content: end;;
    
    .delete-button {
        text-align: end;
        margin: 1rem;
    
        button {
            color: color.$error !important;
        }
    }
    
    .edit-button {
        margin: 1rem 0;

        button {
            color: color.$text !important;	
        }
    }
}

@media screen and (max-width: 649px) {
    .carousel-section {
        flex-direction: column;

        .carousel-container {
            width: auto;
            margin: 1rem;
        }

        .offer-title-container {
            width: auto;

            .offer-title-buttons {
                width: auto;
            }
        }
    }

    .details-item {
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
    }

    .image {
        height: auto;
    }
}

@media screen and (max-width: 549px) {
    .user-offers-section {
        width: auto;
    }

    .basic-info-container {
        mat-list {
            mat-list-item {
                width: calc(50%) !important;
            }
        }
    }
}

@media screen and (max-width: 449px) {
    .details-grid {
        justify-content: center;

        .details-item {
            width: calc(33%) !important;
        }
    }

    .offer-button {
        height: 50px !important;
    }
}

@media screen and (max-width: 349px) {
    .title {
        font-size: 8vw !important;
    }

    .user-offers-section {
        width: auto;
    }

    .basic-info-container {
        mat-list {
            mat-list-item {
                width: calc(100%) !important;
            }
        }
    }
}

@media screen and (max-width: 290px) {
    .details-grid {
        .details-item {
            width: calc(100%) !important;
        }
    }
}