<mat-card routerLink="{{ basicObject.id }}" matRipple>
  <mat-card-content class="card-content">
    <img
      [src]="basicObject.image[0].small"
      alt="{{ basicObject.subject }} image"
      class="card-image"
    />
    <div class="card-data">
      <mat-card-title class="card-title">{{
        basicObject.subject
      }}</mat-card-title>
      <div class="card-details">
        <div class="detail-item">
          <span>{{ basicObject.description }}</span>
        </div>
      </div>
      <div class="card-footer">
        <span class="price">{{ basicObject.price | currency : "EUR" : "symbol" : "1.0-0" }}</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>
