@use '../theme/colors.scss' as color;

.container {
    background-color: color.$background;
    background-image: radial-gradient(#1d283829 1.1500000000000001px, transparent 1.1500000000000001px), radial-gradient(#1d283829 1.1500000000000001px, #eceff1 1.1500000000000001px);
    background-position: 0 0, 23px 23px;
    background-size: 46px 46px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .content {
        padding: 16px;
        flex: 1;
    }

    router-outlet {
        flex: 1;
    }

    app-footer {
        margin-top: auto;
    }
}

.sidenav {
    position: fixed;
    top: 0;
    left: -225px;
    width: 225px;
    height: 100vh;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    transition: left 0.3s ease;
    z-index: 1000;

    &.open {
        left: 0;
    }

    .sub-menu {
        background-color: #f8f8f8;
        padding-left: 16px;
    }

    mat-list-item {
        padding: 16px;
    }

    a {
        width: 100%;
        justify-content: start;
        color: color.$text;
        font-weight: 600;
        border-radius: color.$border-radius;
    }
}