<mat-toolbar color="primary" class="toolbar">
  <img
    src="assets/logo.svg"
    alt="Logo"
    class="logo"
    routerLink="/ponuda/vozila"
    style="cursor: pointer"
  />

  <span class="nav-links">
    <a
      class="remove-hover basic-button"
      [matMenuTriggerFor]="menu"
      #menuTrigger="matMenuTrigger"
      (mouseenter)="menuTrigger.openMenu()"
      (click)="menuTrigger.openMenu()"
      >PONUDA</a
    >
    <a class="basic-button" routerLink="/kontakt">KONTAKT</a>
    @if (!isLoggedIn) {
    <a class="basic-button" routerLink="/prijava">PRIJAVA</a>
    } @else {
    <a class="basic-button" routerLink="/ponuda/vozila" (click)="logOut()"
      >ODJAVA</a
    >
    }
  </span>

  <button
    class="menu-button"
    mat-icon-button
    aria-label="Menu button"
    (click)="openMenu()"
  >
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #menu="matMenu" [overlapTrigger]="false">
  <span (mouseleave)="menuTrigger.closeMenu()">
    <button mat-menu-item routerLink="ponuda/vozila">Vozila</button>
    <button mat-menu-item routerLink="ponuda/nekretnine">Nekretnie</button>
    <button mat-menu-item routerLink="ponuda/ostalo">Ostalo</button></span
  >
</mat-menu>
