@use '../../../../theme/colors.scss' as color;

p {
    font-size: small;
    margin-bottom: 0 !important;
    padding: 1rem;
    text-align: center;
    color: color.$background;
    background-color: color.$footer;
}