@use '../colors.scss' as color;


::ng-deep {
    mat-button-toggle-group {
        box-shadow: color.$form-field-shadow !important;
    }

    .mat-button-toggle .mat-pseudo-checkbox {
        display: none !important;
    }

    .mat-button-toggle-standalone.mat-button-toggle-appearance-standard,
    .mat-button-toggle-group-appearance-standard {
        border: none !important;
        border-radius: color.$border-radius !important;
    }

    .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
        z-index: 2;
    }

    .mat-button-toggle {
        width: 125px;
        font-size: small !important;
        color: color.$text !important;
        font-weight: 600 !important;
        background-color: color.$white !important;
        border-color: color.$border !important;

        .mat-icon {
            font-size: 20px;
            height: 20px;
            width: 20px;
        }
    }

    .mat-button-toggle:hover {
        background-color: color.$hover !important;
    }

    .mat-button-toggle-focus-overlay {
        display: none;
    }

    .mat-button-toggle-appearance-standard.mat-button-toggle-checked {
        background-color: color.$primary !important;
        color: color.$white !important;
    }
}