@use '../colors.scss' as color;

/* BASIC BUTTON */
@mixin basic-button-styles($text-color, $hover-bg-color) {
    color: $text-color;
    font-size: 0.9rem;
    padding: 0.7rem 0.5rem;
    background: none;
    border-radius: color.$border-radius;
    text-decoration: none;
    font-family: "Montserrat", "Helvetica Neue", sans-serif;
    border: none;
    font-weight: 600;
    cursor: pointer;

    &:hover {
        background-color: $hover-bg-color;
    }
}

.basic-button {
    @include basic-button-styles(color.$text, color.$hover);
}

.basic-error-button {
    @include basic-button-styles(color.$error, color.$hover-error);
}

@mixin raised-button-styles() {
    color: color.$white;
    background-color: color.$primary;
    font-size: 0.9rem;
    padding: 0.7rem 0.5rem;
    text-decoration: none;
    border-radius: color.$border-radius;
    font-family: "Montserrat", "Helvetica Neue", sans-serif;
    border: none;
    font-weight: 600;
    cursor: pointer;

    &:hover {
        background-color: color.$primary-hover;
    }

    &:disabled {
        background-color: color.$disabled-background;
        color: color.$disabled-text;
        pointer-events: none;
    }
}

.raised-button {
    @include raised-button-styles();
}

@mixin fab-styles() {
    color: color.$text;
    background-color: color.$white;
    width: 40px;
    height: 40px;
    box-shadow: color.$box-shadow;
    font-size: 0.9rem;
    padding: 0.5rem;
    border-radius: color.$border-radius;
    text-decoration: none;
    font-family: "Montserrat", "Helvetica Neue", sans-serif;
    border: none;
    font-weight: 600;
    cursor: pointer;

    &:hover {
        background-color: color.$hover;
    }
}

.fab {
    @include fab-styles();
}

/* OUTLINED BUTTON */
::ng-deep {
    .mat-mdc-outlined-button:not(:disabled) {
        font-weight: 600;
        color: color.$primary;
        border-radius: color.$border-radius;
        border-color: color.$primary;
        border-width: 2px;
    }
}