@use '../../../../../theme/material/mat-form-field.scss';
@use '../../../../../theme/material/mat-datepicker.scss';
@use '../../../../../theme/material/mat-toggle-group.scss';
@use '../../../../../theme/material/mat-button.scss';
@use '../../../../../theme/material/mat-select.scss';
@use '../../../../../theme/colors.scss' as color;

mat-progress-bar {
    position: sticky;
    top: 0;
    z-index: 2;
}

form {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 0.75rem;
    margin: 2rem auto;

    h1, h2 {
        font-weight: 700;
        font-style: italic;
        color: color.$text;
        margin-bottom: 0.5rem;
    }

    h1 {
        margin-bottom: 1rem;
        font-style: normal;
        text-transform: uppercase;
        text-align: center;
    }
}

.toggle-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 1rem;

    mat-button-toggle-group {
        margin: 0 auto;
    }

    .toggle-text {
        margin-left: 0.25rem;
    }
}

.add-image-button {
    height: 60px;
    width: 60px;
    color: color.$text;
    box-shadow: color.$chip-shadow;
    background-color: color.$white;
}

.plus-icon {
    font-size: 2rem;
    display: block;
    font-weight: 400;
}

.label-style {
    color: color.$text;
    font-size: small;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.file-button-container {
    margin-bottom: 1rem;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.info-container {
    display: flex;
    flex-direction: column;
}

.group-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    mat-form-field {
        width: 100%;
        height: 45px;
    }
}

.text-area-field {
    height: auto !important;
}

.image-list {
    display: flex;
    flex-wrap: wrap;
    width: 470px;
    max-width: 100%;
    background-color: color.$background-dark;
    justify-content: center;
    gap: 15px;
    padding: 15px;
    min-height: 60px;
    border-radius: color.$border-radius;
    overflow: hidden;
    margin-bottom: 1rem;
}

.image-icon-container {
    position: relative;

    mat-icon {
        position: absolute;
        display: flex;
        align-items: center;
        height: 20px;
        width: 20px;
        justify-content: center;
        color: color.$primary;
        right: -10px;
        top: -10px;
        background-color: white;
        box-shadow: color.$box-shadow;
        border-radius: 30px;
        font-size: large;
        cursor: pointer;
    }
}

.image-box {
    height: 85px;
    width: 85px;
    border-radius: color.$border-radius;
    box-sizing: border-box;
    background: white;
    object-fit: cover;
    box-shadow: color.$box-shadow;
    cursor: move;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: color.$border-radius;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

@media screen and (max-width: 549px) {
    form {
        width: 90vw;
    }

    .image-list {
        width: 80vw;
        margin: 0 auto;
        margin-bottom: 1rem;
    }

    mat-button-toggle-group {
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5rem;
    }

    .mat-button-toggle {
        border: none !important;
        border-radius: color.$border-radius;
    }
}