@use '../../../../../theme/material/mat-form-field.scss';
@use '../../../../../theme/material/mat-datepicker.scss';
@use '../../../../../theme/material/mat-toggle-group.scss';
@use '../../../../../theme/colors.scss' as color;

form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 2rem auto;

    h2 {
        font-weight: 700;
        font-style: italic;
        color: color.$text;
        margin-bottom: 0.5rem;
    }
}

.toggle-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 1rem;

    mat-label {
        color: color.$text;
        font-size: small;
        font-weight: 600;
        margin-bottom: 0.5rem;
    }

    mat-button-toggle-group {
        margin: 0 auto;
    }

    .toggle-text {
        margin-left: 0.25rem;
    }
}

.info-container {
    display: flex;
    flex-direction: column;
}

.group-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    mat-form-field {
        width: 100%;
    }
}

.text-area-field {
    height: auto !important;
}