<mat-card>
  <mat-card-content class="card-content">
    <img
      [src]="building.image[0].small"
      alt="{{ building.title }} image"
      class="card-image"
    />
    <div class="card-data">
      <mat-card-title class="card-title">{{ building.title }}</mat-card-title>
      <div class="card-details">
        <div class="detail-item">
          <mat-icon>crop</mat-icon>
          <span>{{ building.buildingArea | number }} m²</span>
        </div>
        <div class="detail-item">
          <mat-icon>edit_calendar</mat-icon>
          <span>{{ building.buildYear }}</span>
        </div>
        <div class="detail-item">
          <mat-icon>settings</mat-icon>
          <span>{{ building.gardenArea | number }}</span>
        </div>
      </div>
      <div class="card-footer">
        <span class="location">
          <mat-icon svgIcon="location-pin"></mat-icon>
          <span class="location-text">{{ building.location }}</span>
        </span>
        <span class="price">€{{ building.price | number }}</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>
