:root {
    --ripple: #FAECE5;
}

$primary: #FF7043;
$primary-hover: #90caf944;
$white: #ffffff;
$gray: #F7F7F7;
$hover: #f4f4f4;
$background: #ECEFF1;
$background-dark: #E5E9EB;
$text: #333333;
$footer: #1d2838;
$border: #cacaca; 
$ripple: #dde2e4;
$placeholder: #33333373;
$error: #ed2517;

$box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
$chip-shadow: rgba(0, 0, 0, 0.16) 0px 1px 1px;
$bottom-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px;
$form-field-shadow: rgba(0, 0, 0, 0.06) 0px 1px 4px;

$scrollbar-thumb: #1d2838;        
$scrollbar-thumb-hover: #2a3a50;  
$scrollbar-track: #D0D6DB;    
